/* font style */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.display-flex{
display: flex;
}
.text-p{
  color: #ff900e;
}
.text-dark-one{
  color: #424242;
}

.text-dark-three{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.p-btn{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* header style */


/* navbar section start from here */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}

.nev-item{
  list-style: none;
  margin-right: 35px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner-style */
.banner-content{
max-width: 850px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-img{
  width: 100%;
}

/* team and feature style start from here */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-feature{
  margin-left: 130px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
/* feature section start from here */
.feature{
  gap: 140px;
}
#feature-section-title{
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-card{
    padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year{
  font-size: 4rem;
  font-weight: 700;
}

.feature-architect img{
width: 100%;
}

/* some fact releted style */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;

}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}

/* sponsor style start from here */

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
filter: grayscale(100%);
}