/* header-responsive */

@media screen and (max-width: 576px){
  .navbar, 
  .nav-links,
  .teams{
    flex-direction: column;
  }
  .team-img-container,
  .fact-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-feature{
    margin-left: 20px;
  }

  .fact-container{
    justify-items: center;
    gap: 24px;
  }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
   flex-direction: column;
  }
  .our-feature{
    margin: 50px auto;
  }
}